.PlaylistItem {
  font-size: 16px;
  white-space: nowrap;
  margin: 0.5em 0;
  border-bottom: 1px solid lightgrey;

  &-desc {
    min-width: 0;
  }

  h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    min-width: 0;
    width: auto;
  }
  p {
    margin: 0;
    margin-bottom: 0.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.75rem;
    min-width: 0;
    width: auto;
  }
}
.PlaylistItem:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
