.PlaylistContainer {
  background-color: $bg-color-dark;
  color: $content-color;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  right: 0;
  transition: width 0.25s;
  padding-left: 1rem;
  padding-top: 1rem;
  ::-webkit-scrollbar {
    // width: 0;
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  ::-webkit-scrollbar-thumb {
    width: 0.5rem;
    background: $content-color-highlight;
  }

  &-wrapper {
    position: relative;
    // min-height: 100%;
    height: 100%;
    padding-right: 0.5rem;
    overflow-y: auto;
  }

  &::before {
    content: "\A";
    border-style: solid;
    border-width: 20px;
    left: -40px;
    border-color: transparent $bg-color-dark transparent transparent;
    display: block;
    position: absolute;
    top: 50%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  span {
    overflow: hidden;
  }

  &-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    transition: width 0.25s ease-in-out;
    width: 0;
    height: 100%;
    &.active {
      width: 100vw;
    }
  }

  &.active {
    // padding-left: 0.5rem;
    width: 80%;
    overflow: hidden;
    .PlaylistContainer-controls {
      position: fixed;
      top: 0;
      right: 0;
      margin: 0 auto;
      padding: 1rem;
    }
  }

  .collapseable {
    &.closed {
      overflow: hidden;
      max-height: 0;
      max-width: 0;
    }
    padding: 0.25em 0;
    transition: max-width 0.5s ease-in-out;
    max-height: 900vh;
    max-width: 900vw;
  }

  &-controls {
    overflow: hidden;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    // padding: 0.25em;
    margin: 0;
    padding-top: 0.5em;
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-controls {
    display: flex;
    position: relative;
    justify-content: center;
  }

  /*When it is big enough*/
  @media screen and (min-width: 768px) {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: (768 * 0.4) + px;
    max-width: 30rem;
    width: 30%;
    height: 100%;

    &::before,
    &-controls {
      display: none;
    }

    &-contents {
      height: auto;
      width: 100%;
    }

    // Overrides if user decides to be cute
    &.active {
      width: 30%;
    }

    &-overlay {
      &.active {
        width: 0;
      }
    }
  }
}

// .PlaylistContainer
