/* Move it (define the animation) */
@-moz-keyframes example1 {
  0% {
    -moz-transform: translateX(0%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes example1 {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes example1 {
  0% {
    -moz-transform: translateX(0%); /* Firefox bug fix */
    -webkit-transform: translateX(0%); /* Firefox bug fix */
    transform: translateX(0%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
}

.BrowseCard {
  width: 250px;
  margin: 0.25rem;

  .marquee {
    /* Starting position */
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    /* Apply animation to this element */
    -moz-animation: example1 4s linear infinite;
    -webkit-animation: example1 4s linear infinite;
    animation: example1 4s linear infinite;
  }
  .ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.card {
    border-radius: 0;
    border-bottom: none;
  }
  .card-body {
    min-width: 0;
    padding: 0.5rem;
  }
  .card-title {
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }
  .card-text {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
  }
  img {
    display: block;
    max-height: 100px;
    width: auto;
    object-fit: cover;
    border-radius: 0;
  }

  // Special media query for this one
  @media screen and(max-width: 980px) {
    // When screen isn't large enough
    &.card {
      padding-right: 1rem;
      align-items: center;
      flex-direction: row;
      width: 100%;
      margin: 0;
      border-radius: 0;
      border-bottom: $content-color solid 1px;
    }
  }
}
