@import "./scss-utils/index.scss";
@import "./components/index.scss";
@import "./containers/index.scss";
:root {
  --mob-break: 768px;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.Playbar {
  width: 100%;
  background-color: $bg-color-dark;
  min-height: 4rem;
}

.PlaylistLibraryToggle {
  width: 100%;
  max-height: 3rem;
  min-height: 1.5rem;
  background-color: $bg-color-dark;
}

/* Toggle bottom bar */
.PlaylistLibraryToggle button {
  background-color: $bg-color-dark;
  color: $content-color;
  border: none;
  justify-content: center;
  outline: none;
}
.PlaylistLibraryToggle button:hover {
  background-color: rgba($bg-color-light, 0.4);
}

/*When it is big enough*/
@media screen and (min-width: 768px) {
  .PlaylistLibraryToggle {
    height: 0;
    min-height: 0;
    overflow: hidden;
  }
}
