@import "./scss-utils/index.scss";
@import "./components/index.scss";
@import "./containers/index.scss";
:root {
  --mob-break: 768px;
}

::-webkit-scrollbar {
  width: 0.25rem; /* Remove scrollbar space */
  background: $content-color; /* Optional: just make scrollbar invisible */
}

.Playbar {
  width: 100%;
  background-color: $content-color-dark;
  &-container {
    flex-direction: column;
  }
  &-controls {
    width: 300px;
    svg {
      margin: 0 1rem;
    }
  }
}

.PlaylistLibraryToggle {
  width: 100%;
  max-height: 3rem;
  min-height: 1.5rem;
  background-color: $bg-color-dark;
  overflow: hidden;
}

/* Toggle bottom bar */
.PlaylistLibraryToggle button {
  background-color: $content-color-dark;
  color: $content-color;
  border: none;
  justify-content: center;
  outline: none;
}
.PlaylistLibraryToggle button:hover {
  background-color: rgba($content-color, 0.1);
}

/*When it is big enough*/
@media screen and (min-width: 768px) {
  .PlaylistLibraryToggle {
    height: 0;
    min-height: 0;
    overflow: hidden;
  }

  .Playbar {
    padding-bottom: 1rem;
    &-container {
      // flex-direction: row;
    }
  }
}
